<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <a href="/allproducts">Maybelline</a>
        <form action="/search">
            <input type="text" name="brand" placeholder="Enter name of brand">
            <input type="number" name="priceGreater" value="priceGreater">
            <input type="number" name="priceLess" value="priceLess">
            <button>Get</button>
        </form>

        <% dataArr.forEach(data=>{ %>
            <img src="<%=data.image_link%>" alt="">
            <h2><%=data.name%></h2>
            <h3><%=data.price%></h3>
            <p><%=data.description%></p>

       <% }) %>
    </main>
</body>
</html>